Package: python-avahi
Version: {VERSION}
Section: 
Priority: optional
Maintainer: TEAM <team@minidvblinux.de>
Architecture: {ARCH}
Depends: python, python-gobject-2
Homepage: http://www.minidvblinux.de
Description: 
